<nav class="navbar navbar-expand-lg fixed-bottom">
  <div class="container">
    <ul class="navbar-nav flex-row mx-auto gap-3"> 
      <li class="nav-item nav-lg">
        <a class="nav-link nav-lg" href="/album-add">
		<img src="images/add-album-icon.png" alt="Album-add-icon" class="nav-icon">
		</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-lg" href="/albums">
		<img src="images/albums-icon.png" alt="Home-icon" class="nav-icon">
		</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-lg" href="/logout">
		<img src="images/logout-icon.png" alt="Logout-icon" class="nav-icon">
		</a>
      </li>
    </ul>

  </div>
</nav>
