.slideshow-container {
  width: 100%;
 height: 500px;
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

.slideshow-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.slideshow-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0 10px;
  cursor: pointer;
}


.btn-primary {
  width: 100%;           /* Button width */
  padding: 0.5rem;      /* Button padding */
  margin-top: 1rem;     /* Add space between the input and button */
  display: block;       /* Ensure the button is block-level */
  text-align: center;   /* Align text inside the button */
  background-color: rgb(42,182,110);
  color: rgb(255,255,255);
  border-color:rgb(42,182,110);
 
}

.btn-primary:hover {
	background-color: rgb(42,182,110);
	border-color: white;
}

.btn-primary:active {
	background-color: rgb(42,182,110);
	border-color: white;
}
.row {
	margin-right: 0;
}
#prevBtn { left: 0; }
#nextBtn { right: 0; }
