
/* Ensure the body and html take full height */
html, body {
  margin: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/Login-Background-BW.png"); /* change path as needed */
    background-size: cover; /* Scales image to cover the viewport */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Optional: keeps image fixed during scroll */
}

/* Optional: Style for the form heading */
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.limelight-regular {
  font-size: 3.2rem;
  font-family: "gf_Limelight variant1", Tofu;
  font-weight: 400;
  font-style:normal;
}

/* Center the main container using flexbox */
#landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Style for the login card */
.login-card {
    background-color: rgb(43,42,42);
	border: 5px solid rgb(40,39,39);
    padding: 2rem;
    border-radius: 16px;	
    width: 100%;
	min-height: 250px;
	min-width: 450px;
    max-width: 400px; 
    box-sizing: border-box;
    display: flex;
	box-shadow: 5px 5px 10px 2.5px rgba(40,39,39, 0.8);
}

.standout:hover {
    border-color: #2980b9;  /* Change color on hover */
}

/* Style for the form */
.login-form {
  width: 100%;
}

.btn-primary {
  width: 100%;           /* Button width */
  padding: 0.5rem;      /* Button padding */
  margin-top: 1rem;     /* Add space between the input and button */
  display: block;       /* Ensure the button is block-level */
  text-align: center;   /* Align text inside the button */
  background-color: rgb(42,182,110);
  color: rgb(255,255,255);
  border-color:rgb(42,182,110);
 
}

.btn-primary:hover {
	background-color: rgb(42,182,110);
	border-color: white;
}

.btn-primary:active {
	background-color: rgb(42,182,110);
	border-color: white;
}


.form-control-sm{
    min-height: calc(2.5em + 0.5rem + calc(var(--bs-border-width) * 4));
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: var(--bs-border-radius-sm);
}
