.nav-link {
	padding: 1rem 1rem;  /* larger clickable area */
}
.navbar {
	background: var(--js-surface-primary);
	color: var(--js-typo-clr-primary);
    width: 100vw;
    margin-top: 10px;
}

.navbar-nav {
    justify-content: center; /* spread items evenly across full width */
}

.nav-link {
    padding: 1rem;        /* maintain large clickable area */
    text-align: center;   /* center icons if needed */
}
